<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comparison</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/static/js/comparison.js" rel="script"></script>

    <!-- Font awesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

    <!-- Google font css -->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker|Rock+Salt" rel="stylesheet">
</head>
<body>
    <div th:include="header.html :: copy(pageName=${pageName})"></div>
    <div id="elements" th:with="prod1Attrib=${product1.getProductAttributes()},prod2Attrib=${product2.getProductAttributes()}">
        <table width="80%" align="center" style="text-align: center">
            <thead>
                <tr>
                    <td width="40%"><h2 th:text="${product1.getName()}">Product1</h2></td>
                    <td width="20%"></td>
                    <td width="40%"><h2 th:text="${product2.getName()}">Product2</h2></td>
                </tr>

                <tr>
                    <td>
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/product_' + ${product1.getId()} + '.jpg'" th:alt="${product1.getName()}" width="40%"/>
                    </td>
                    <td></td>
                    <td>
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/product_' + ${product2.getId()} + '.jpg'" th:alt="${product2.getName()}" width="40%"/>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${product1.getSupplier().getName()}">Product 1 Supplier</td>
                    <td><b>SUPPLIER</b></td>
                    <td th:text="${product2.getSupplier().getName()}">Product 2 Supplier</td>
                </tr>
                <tr>
                    <td th:text="${product1.getDescription()}">Product 1 Description</td>
                    <td><b>DESCRIPTION</b></td>
                    <td th:text="${product2.getDescription()}">Product 2 Description</td>
                </tr>
                <tr>
                    <td th:text="${product1.getDefaultPrice() + ' ' + product1.getDefaultCurrency().toString()}"></td>
                    <td><b>PRICE</b></td>
                    <td th:text="${product2.getDefaultPrice() + ' ' + product2.getDefaultCurrency().toString()}"></td>
                </tr>
                <tr th:each="attrib: ${prod1Attrib.keySet()}">
                    <td th:text="${prod1Attrib.get(attrib)}">No data</td>
                    <td><b th:text="${attrib}"></b></td>
                    <td th:text="${prod2Attrib.get(attrib)}">No data</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/" class="back-to">Back to shop</a>

    <div th:replace="footer.html :: copy"></div>
</body>
</html>
