.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

#shopping-cart {
    position: fixed;
    top: 260px;
    left: 5px;
    margin: 0;
    padding: 5px 3px;
}

#shopping-cart:hover{
    text-decoration: none;

}

.head {
    background: #252525;
    color: white;
    font-size: 46px;
    font-family: 'Rock Salt', cursive;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0px;
    vertical-align: center;
}

.sub-title{
    margin-top: 20px;
    font-size: 36px;
    color: darkgrey;
}

.nr_of_items_in_cart{
    color: white;
    background: #c1100f;
    border-radius: 8px;
    font-weight: bold;
    font-size: 10px;
    padding: 4px;
    margin-top: 4px;

}

.nr_of_items_in_cart:hover{
    text-decoration: none;

}

.fa-shopping-cart {
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 6px;
}

.fa-shopping-cart:hover {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
    text-decoration: none;

}

.btn {
    background: #e88424;
    border-color: #e88424;
}

.btn:hover {
    background: #fe9228;
    border-color: #fe9228;
}

.thumbnail{
    border-radius: 8px;
}

#main-title{
    position: fixed;
    margin-top: 10%;
    margin-left: 10%;
    z-index: 10;
}

#main-title p {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 80px;
}

#main-title a {
    color: white;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
}

#main-title a:hover {
    color: white;
    background: rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 80px;
    text-decoration: none;
}

img {
    z-index: -1;
}

#motor-image{
    padding-bottom: 10px;
}

/********************************/
/*       Compare snapshot       */
/********************************/

#compare-snapshot {
    visibility: hidden;
    width: 30%;
    top: 70%;
    left: 65%;
    position: fixed;
    padding: 5px;
}

#compare-snapshot hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

#compare-header {
    display: inline;
}

#compare-header h4 {
    width: 80%;
    float: left;
}

#hide-and-seek {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#hide-and-seek:hover {
    cursor: pointer;
}

table[id="compared-items"] {
    width: 80%;
    float: left;
}

table[id="compared-items"] tr td {
    width: 48%;
    font-size: 10px;
    font-weight: bold;
}

#compared-images td img {
    width: 60%;
}

div[id="items"] {
    width: 100%;
    display: inline;
}

div[id="compare-navigation"] {
    margin-top: 50px;
    width: 15%;
    float: right;
}

.fa-chevron-circle-right {
    color: #e88424;
    background-color: #252525;
    border-radius: 20px;
}

.fa-chevron-circle-right:hover {
    color: #fe9228;
    cursor: pointer;
}

/********************************/
